#callmecontainer{
    padding: 0 0  11px;
}
#Service-container{
    position: static;
    // border: 3px solid purple;
    display: flex;
    align-items: stretch !important;

}

.hero-container{
    .left{
        // border: 4px solid purple;
        // padding-right: 60px;
        // border: 3px dashed purple;
        display: grid;
        align-content:space-around;
    }
    .right{
        position:relative;

        video{
            border-radius: 1px;
            object-fit: cover;

        }

    .imgclass{
        border-radius: 9px;
        object-fit: cover;

    }
}
}

.services-content{
    // border: 4px dashed purple;
    position: relative;
    padding: 0 22px 0 4px !important;
    &::after{
        content: '';
        height: 90%;
        width: 3px;
        top: 5%;
        right: 0;
        position: absolute;
        background:radial-gradient(circle at 0% 0%, rgba(181, 255, 8, 0.774), rgba(0, 0, 0, 0)),
        linear-gradient(149.47deg, rgba(136, 186, 0, 0.87) 5.08%, rgba(40, 94, 1, 0.6) 50.65%, rgba(20, 58, 0, 0.881) 75.66%);
    }

}
.teamVan-image-container{
    position:relative;
    flex-grow: 1;
    padding: 0;
    flex-shrink: 1;
    min-height: 322px;
    overflow: hidden !important;
    flex-grow: 1;
    video{
        border-radius: 11px;
    }
    .imgclass{
        border-radius: 5px;
        height: 100%;
        width: auto;
        object-fit: cover;
        object-position: 90% 50% ;
        position:absolute;
        
    }
}

.hero-container{
    display: flex;
    flex-grow: 1;
}